.guest_container{
    width: 70%;
    margin: 0px auto;
    /* padding: 20px ; */
    max-width: 2200px; 
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    margin-top: 100px;
    /* justify-content: center; */
    /* overflow: hidden; */
    /* align-items: center; */
}
.left_container_for_heading{
    flex-basis: 50%; 
    display: flex;
}

.left_container_for_heading h3{
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: .025em;
    text-align: center  ;
}

.right_container_for_contain{
    flex-basis: 60% ;
    color: white;
}

.golden_guest_button{
    background-color: white;
    font-weight: 700;
    border: 3px solid #fff;
    font-size: 16px;
    margin-top: 15px;
    padding: 5px 26px;
    line-height: 40px;
    letter-spacing: 0.070em;
    margin-left: 50px;
}

.golden_guest_button:hover{
    border: 3px solid black;
}

.images_container{
    display: flex;
    justify-content: space-between;
}
.images_container ._image_card_{
    margin-top: 35px;
    margin-bottom: 50px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images_container ._image_card_ img {
    width: 100%;
}
.images_container ._image_card_ small {
    color: white;
    font-weight: bold;
    margin-top: 15px;
    font-size: 14px;
}


@media screen and (max-width: 1400px){
    .left_container_for_heading{
        font-size: 33px;
    }  
    .right_container_for_contain p{
        font-size: 17px;
    }   
    .golden_guest_button{
        font-weight: 700;
        font-size: 15px;
        margin-top: 15px;
        padding: 5px 20px;
        line-height: 35px;
        letter-spacing: 0.070em;
    }
}
@media screen and (max-width: 950px){
      
    .golden_guest_button{
        font-weight: 700;
        font-size: 12px;
        margin-top: 15px;
        padding: 4px 10px;
        line-height: 25px;
        letter-spacing: 0.070em;
    }
}

@media screen and (max-width: 700px){
    .guest_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px auto;
    }   

    .left_container_for_heading h3{
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        letter-spacing: .025em;
    }
    .golden_guest_button{
        font-weight: 700;
        font-size: 12px;
        display: flex;
        margin-top: 15px !important;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding: 0px 10px;
        line-height: 40px;
        letter-spacing: 0.070em;
    }
}

@media screen and (max-width: 700px){
    .images_container ._image_card_{
        margin-top: 35px;
        margin-bottom: 50px;
        width: 32.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images_container ._image_card_ img {
        width: 100%;
    }
    .images_container ._image_card_ small {
        color: white;
        font-weight: bold;
        margin-top: 5px;
        font-size: 10px;
    }

   

}
