.team_container{
        padding-top: 30px;  
        padding-bottom: 50px;  
}
.center_heading{
        margin-bottom: 40px;
}
.who_we_are{
        color: #fff ;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        text-align: center      ;
        letter-spacing: 0.025em;
        font-weight: bold;}


.team_content{
        color: #fff;
        font-size: 19px;
        line-height: 32px;
        font-weight: 500;
        letter-spacing: 0.025em;
        text-align: center;
        margin-bottom: 30px;
}
.Team_members_container{
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
}
.team_content_bellow{
        margin-top: 70px;
        color: white;
        font-size: 16px;
        opacity: 1 !important;
        text-align: center;
}
.team_content_bellow a{
        cursor: pointer;
}
.team_content_bellow a:link {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }
    
    .team_content_bellow a:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }

.moderator_container{
        margin-top: 70px;
}
.moderator_container h1 {
        font-size: 30px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
}
.moderator_container .sub_m_container {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}
.moderator_container .sub_m_container .m_member {
        background-color: #222222;
        color: #fff;
        width: 150px;
        height: 75px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-weight: bold;
        border-radius: 10px;
        font-size: 18px;
 }


@media screen and (max-width: 1400px){
        .team_container{
                padding-top: 50px;  
        }
        .who_we_are{
                font-size: 35px; 
        }
        .team_content{
                font-size: 18px;
        }
}

@media screen and (max-width: 768px){

        .moderator_container{
                margin-top: 10px;
        }
        .moderator_container h1 {
                font-size: 20px;
                color: white;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
        }
        .moderator_container .sub_m_container {
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               align-items: center;
        }
        .moderator_container .sub_m_container .m_member {
                background-color: #222222;
                color: #fff;
                width: 100px;
                height: 50px;
                margin: 5px;
                text-align: center;
                line-height: 50px;
                font-weight: bold;
                border-radius: 5px;
                font-size: 14px;
         }





        .team_container{
        padding-top: -0px;  
        padding-bottom: 0px;  
        }
        .Team_members_container{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
}
        .center_heading{
        text-align: left !important;
        margin-left: 0;
        margin-bottom: 25px;
        font-size: 25px; 
        }
        .who_we_are{
        font-size: 25px; 
        line-height: 29px;
        }
        .team_content{
        text-align: left;
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 10px;

    }
    .team_content_bellow{
        margin-top: 30px;
        color: white;
        font-size: 14px;
        opacity: 1 !important;
        text-align: center;
}

}